@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    margin-bottom: 0;
}

header {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding-top: 15px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: -85px;
    height: 65px;
    top: 0

}

header a {
    text-decoration: none;

}

/* LOGO */

#logo {
    height: fit-content;
    width: 300px;
    padding: 15px;
    font-size: 280%;
    margin-left: 30px;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ecfdee;
    text-align: center;
    background-color: #034606bd;

}

#logo:hover {
    text-decoration: none;
    color:#fff;

}

/* HEADER */

#header-menu {
    border-radius: 25%;
    height: 45px;
    width: 100%;
    align-content: center;
    align-items: center;
    background-color: #034606bd;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 15px 10px 50px 20px;
    padding: 0 50px;

}

#header-menu li {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#header-menu a {
    text-decoration: none;
    color: #fff;
}

#header-menu a:hover {
    border-bottom: 2px solid #fff;
    font-size: 110%;
    color: #e4ed34;
}

.active {
    border-bottom: 1px solid #fff;
}


/* MONEY-IMAGE/COVER-TEXT*/

#money-pic {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#money-image {
    height: 600px;
    width: 100%;
    background: url("../images/money-tree.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

#cover-text,
#cover-text h2 {
    color: #ffffff;

}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 150px;
    background-color: #034606bd;
    padding-top: 25px;
    padding-left: 10px;
    border-radius: 15%;
    bottom: 60px;
    right: 50px;
    position: absolute;
}

#cover-text h4 {
    text-transform: none;

}

/* DRAFT FOR MONEy TREES */

/* THE MONEY TREES */

#moneytrees-title {
    font-family: 'Oswald', sans-serif;
    padding: 30px;
    margin: 0;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: lighter;
    color: #307f06;
    background-color: #1a4702;
}

#moneytrees-title h1{
    font-size: 300%;
    padding-bottom: 50px;
    color: #98e118;

}


hr {
    color: #e4ed34;
    background-color: #e4ed34;
    height: 2px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    }


#moneytrees-title a{
    text-decoration: none;
    color: #4fcf0a;;
    padding-top: 30px;
    font-size: 150%;
    text-transform: none;
}
a {
    color: #fafafa;
}

#moneytrees-title p{
    color: #4fc111;
    font-size: 100%;
    letter-spacing: normal;
    padding-bottom: 50px;
    text-transform: lowercase;
   

}

/* Testimonials heading */

#testimony {
    background-color: #e4ed34;
    

}

#testimonials-title {
    font-family: 'Oswald', sans-serif;
    padding: 30px;
    margin: 0;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: lighter;
    color: #307f06;

}

/* testimonials column source at devto */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.blue-column {
    background-color: rgba(37, 74, 178, 0.7);
    height: 400px;
    width: 400px;
    margin-right: 1px;
    margin-bottom: 20px;
    margin-left: auto;
}

.green-column {
    background-color: rgba(29, 136, 40, 0.9);
    height: 400px;
    width: 400px;
    margin-bottom: 20px;
    margin-right: auto;
}

.column h2 {
    font-family: 'Oswald', sans-serif;
    padding: 30px;
    margin: 0;
    text-align: center;
    font-size: 250%;
    color: #e4ed34;

}

.column>h2, p{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
    font-size: 150%;
    color: #ffffff;

}


 /* FORM */

 .form-section {
    clear: left;
    background: url("../images/money-tree.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 600px;
    font-family: Oswald;
    letter-spacing: 4px;
    margin: 0;
    overflow: hidden;
} 

.signup-form {
    border-radius: 15px;
    margin-top: 200px;
    color: #e4ed34;
    background-color: rgba(9, 58, 33, 0.7);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    height: 400px;
}   
  
.signup-form h2 {
    color: #e4ed34;
    margin-bottom: 20px;
     
 }
 
 .text-input {
     background: transparent;
     color: #fafafa;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border: 1px solid #fafafa;
     border-radius: 2px;
     
 
 }
 
    .text-input:hover {
     border-color: #e4ed34;
     background-color: #034606;
    }
    
    .join-button {
        margin-top: 1px;
        border-radius: 15px;
        padding: 15px 32px 15px 32px;
        text-align: center;
        font-size: 100%;
        background-color: #034606;
        color: #e4ed34;
        /*positions the button below the radio buttons*/
        display: block;
    }
 
    .join-button:hover {
        background-color: #fafafa;
        color: #034606;
    }
 

/* FOOTER */

footer {
    background-color: rgb(14, 64, 5);
    height: 90px;
    
}

.social-media {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

.social-media li {
    display: inline;

}

.social-media i
{
    color: whitesmoke;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 3%;

}

.social-media i:hover{
    color: rgb(225, 239, 72);
    transform: rotate(-5deg) scale(.9);
    font-size: 45px;

} 

.social-media a{
    color: whitesmoke;
    font-size: 14px;
    padding-left: 60px;
  

}






/* MEDIA QUERRIES */

@media screen and (max-width: 1200px){
    

    #logo {
        height: fit-content;
        width: 300px;
        padding: 15px;
        font-size: 280%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 50%;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0px;
        color: #ecfdee;
        text-align: center;
        background-color: #034606bd;
    
    }

   

    hr {
        display: none;
    }
}


@media screen and (max-width: 943px) {

    #header-menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 90%;
        font-weight: 400;

    }

    #footer {
        position: sticky;
        bottom: 0;
    }
}

@media screen and (max-width: 769px){
    header{
        flex-direction: column;
        margin-bottom: -125px;
    }
    #header-menu{
        background-color: rgba(29, 136, 40, 0.3);
    }
}


@media screen and (max-width: 600px) {

    #logo {
        color: #e4ed34;
        justify-content: center;
    }

    #header-menu{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;  
        height: 100%;     
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 0;
        background: none;
    }

    #header-menu a {
        text-decoration: none;
        color: #1a4702;
    }

    #cover-text {
        display: none;
    }

    #moneytrees-title {
        letter-spacing: 0;

    }

    #testimonials-title {
        letter-spacing: 0;

    }

    .signup-form {
        margin-top: 250px;
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 0;
        height: 55%;

    }

    .signup-form h2 {
        display: none;
    }



    footer {
        background-color: rgb(14, 64, 5);
        height: fit-content;
        
    }

    .social-media li {
        display: block;
    
    }







