@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

/* neutralise margin padding border*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    margin-bottom: 0;
}

/* LOGO */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #c8f5af;
}

/* HEADER */

#header-menu {
    margin-bottom: 0;
}

#header-menu li {
    padding-top: 10px;
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;


}

#header-menu a {
    text-decoration: none;
    color: #307f06;
}

#header-menu a:hover {
    border-bottom: 1px solid #307f06;
}

.active {
    border-bottom: 1px solid #1a4702;
}

/* Hover animation from 30secondcode*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #307f06;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #307f06;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* money image and cover text */

#money-image {
    height: 700px;
    width: 100%;
    background: url("../images/money-tree.jpg") no-repeat center center;
    background-size: cover;

}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(12, 244, 97, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;

}



/* for moneytree page */

#left-cover-text{
    text-decoration: none;
    border-radius: 10%;
    font-size: 130%;
    font-family: Oswald;
    letter-spacing: 2px;
    width: 250px;
    height: 250px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(12, 244, 97, 0.4);
    color: #1a4702;
    bottom: 30px;
    left: 150px;
    position: absolute;

}

#center-cover-text {
    text-decoration: none;
    width:250px;
    height:250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -130px;
    border-radius: 10%;
    font-size: 130%;
    font-family: Oswald;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(12, 244, 97, 0.4);
    color: #1a4702;
    bottom: 30px;
    position: absolute;
}


#right-cover-text {
    text-decoration: none;
    border-radius: 10%;
    font-size: 130%;
    font-family: Oswald;
    letter-spacing: 2px;
    width: 250px;
    height: 250px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(12, 244, 97, 0.4);
    color: #1a4702;
    bottom: 30px;
    right: 150px;
    position: absolute;

}

#left-cover-text a{
    text-decoration: none;
    color: #1a4702;
}

#center-cover-text a{
    text-decoration: none;
    color: #1a4702;
}

#right-cover-text a{
    text-decoration: none;
    color: #1a4702;
}

#left-cover-text h4 {
    font-weight: lighter;
    text-transform: none;
    color:#1a4702;
}

#center-cover-text h4 {
    font-weight: lighter;
    text-transform: none;
    color:#1a4702;
}
#right-cover-text h4 {
    font-weight: lighter;
    text-transform: none;
}


section {
    background-color: #c8f5af;
}

/* TESTIMONIALS */



#testimonials-title {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 280%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #307f06;

}


.testimonials {
    text-align: center;
    padding-bottom: 100px;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    color: #307f06;
}

/* FOOTER */
footer {
    background-color: #307f06;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer>span {
    color: silver;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

footer>p {
    color: silver;
    font-size: small;
}

/* media screen */

@media screen and (max-width: 943px){

    #header-menu{
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 90%;
        font-weight: 400;

    }

    #footer {
        position: sticky;
        bottom: 0;              
     }
}

@media screen and (max-width: 600px){

    #logo {
        color: #1a4702;
    }

    #header-menu{
        clear: left;
        float: left;
        margin-left: 5px; 
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 65%;
        font-weight: 100;
        letter-spacing: 0;
        color:#1a4702;
    }

    hi {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .testimonials-title {
        font-size: 20%;
    }
    


}

/* style for moneytree page text */

.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 1px solid #c1f0c5;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90%;
    height: 60%;
    bottom: 30%;
    padding: 20px;
    text-align: center;
    
  }
  

